.stats-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.stats-container div:nth-child(n+2){
    margin-left: 40px;
}

.container-content {
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}

.container-start {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 80px;
}

.container-result {
    margin: 0 auto;
    max-width: 700px;
}

.card-header-text {
    font-size: larger;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.card-container, .container-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-castom {
    margin-left: 25px;
}

.win-style {
    color: #0e8a0e;
}

.lose-style {
    color: #b90808;
}
